.scroll-header {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
  scrollbar-width: none; /* Firefox */
  white-space: nowrap;
}

.scroll-header::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

header {
    display: flex;
    flex-direction: row;
    height: 80px;
}

.header-right {
    display: flex;
    margin-left: auto;
    height: 100%;
    align-items: right;
    justify-content: center;
}

.header-left {
    display: flex;
    height: 100%;
    align-items: left;
    justify-content: center;
}
