.cart-tile {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    position: relative;
    backdrop-filter: blur(2px);
    width: auto;
    padding: 1rem;
    transition: border 0.7s ease, 
      box-shadow 0.7s ease, 
      background-color 0.7s ease,
      color 0.7s ease
      webkit-text-stroke 0.7s ease;
    color: indigo;
    border: 2px solid #ccc;
    height: 40%;
    max-height: 600px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    text-align: center;
    justify-content: left;
    gap: 5vw;
}

.cart-tile::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../../assets/galaxy-background.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.7s ease;
  z-index: -1;
}

.cart-tile:hover {
  -webkit-text-stroke: 1px black;
  background-color: transparent;
  border: 2px solid white;
  box-shadow: 0 0 10px 2px white;
  color: white;
}

.cart-tile:hover::before {
  opacity: 1;
}

.text {
    white-space: nowrap;
    display: inline-block;
    background-color: transparent;
    padding: 1rem;
    font-size: 2vw;
    transition: border 0.7s ease, 
      box-shadow 0.7s ease, 
      background-color 0.7s ease,
      color 0.7s ease
      webkit-text-stroke 0.7s ease;
}

.cart-tile:hover .text {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    border: 2px groove black;
    border-width: 2px;
    border-radius: 5px;
    -webkit-text-stroke: 0px black;
}

.delete {
    position: absolute;
    top: 35%;
    bottom: 35%;
    right: 3%;
    height: 30%;
    aspect-ratio: 1 / 1;
}